{% set page = {
  title: 'Confirm how old is the child?',
  redirectTo: 'check-symptoms-under-5',
  layout: {
    back: true
  },
  question: {
    callout: {
      text: "To ensure the right help for a young child, we need to know more about their age",
      classes: 'app-callout--info',
      position: 'bottom'
    }
  }
} %}

{% extends "111/layouts/patterns/question.html" %}

{% block question_body %}

  {{ radios({
    name: "child[type]",
    items: [
      {
        value: "neonate",
        text: "A new born baby",
        hint: {
          text: 'Less than 1 hour old'
        }
      },
      {
        value: "infant",
        text: "Infant",
        hint: {
          text: "1 hour to 12 months old"
        }
      }
    ]
  }) }}

{% endblock question_body %}
