{% set page = {
  title: 'Get help for your symptoms',
  startLink: 'check-symptoms-under-5'
} %}

{% extends page.layout.file | d(layouts['check-your-symptoms']) %}

{% block content_primary %}

  <h1>
    <span class="nhsuk-caption-l">111 online</span>
    Check your young child's symptoms
  </h1>

  <p class="nhsuk-body-l">
    We are testing a new symptom checker for young children aged 1 to 4 in some areas. 
  </p> <p class="nhsuk-body">
    We will ask questions about some common childhood symptoms. You will not get a diagnosis but you will find out what to do next.
  </p>
  <h2> Who this service is for</h2>
  <p>
  This service is currently only for children aged 1 to 4 with:
  </p>

  <ul>
    <li>a high temperature (fever)</li>
    <li>breathing problems</li>
    <li>a rash or skin problems</li>
    <li>vomiting (being sick)</li>
    <li>a cough</li>
  </ul>

  <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>

  <p>If your child has any other symptoms or you are worried about them, call 111 to speak to someone instead.</p>
   <p> For children aged 5 and over
  <a href="#" class="main 111 online service">use the main 111 online service.</a>
</p> </p>
</div>

  <a href="{{ page.startLink | default(_sublayout.startLink | default('#')) }}" class="nhsuk-button">
    Start now
  </a>

<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5">

  <p>
    <a href="/edge">Other ways to contact 111 if you have a hearing problem or need help in other languages</a>
  </p>

{% endblock content_primary %}

