{% set page = {
  title: 'What was your sex at birth?',
  layout: {
    back: true
  },
  question: {
    callout: {
      position: 'bottom',
      classes: 'app-callout--info',
      html: "<p>This online triage depends on knowing your registered sex at birth, not your gender identity.</p><p>If you are doing this for someone else, tell us their sex at birth if you know.</p><p>We need to know this information so we can ask relevant clinical questions.</p><p>If you feel uncomfortable giving this information, or do not see an option that represents you correctly, you can call 111 to talk to a nurse.</p>"
    }
  }
} %}

{% extends page.layout.file | d(layouts.question) %}

{% block question_body %}

    {{ radios({
      idPrefix: "sex",
      name: "sex",
      items: [
        {
          value: "male",
          text: "Male"
        },
        {
          value: "female",
          text: "Female"
        }
      ]
    }) }}

{% endblock question_body %}
