{% set page = {
  title: 'Home'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_primary %}

  <h2 class="nhsuk-heading-l">Under 5's prototype</h2>

  <hr>

  <h2 class="nhsuk-heading-l">Version - 1</h2>

  {{ contentsList({
    items: [
      {
        text: "Start page",
        href: "/version-1/start"
      },
      {
        text: "Check your symptoms",
        href: "/version-1/check-your-symptoms"
      },
      {
        text: "Check it's not an emergency (module zero)",
        href: "/version-1/module-zero"
      },
      {
        text: "Where are you now? (For pilot route enter a postcode starting with LS14)",
        href: "/version-1/where-are-you-now"
      },
      {
        text: "Age (standard)",
        href: "/version-1/age"
      },
      {
        text: "Age (Pilot route)",
        href: "/version-1/age-pilot"
      },
      {
        text: "Call 111 for a child under 1",
        href: "/version-1/under-1-notice"
      },
      {
        text: "Check a child's symptoms (Under 5's start/campaign page)",
        href: "/version-1/check-symptoms-under-5"
      }
    ]
  }) }}

{% endblock %}
